<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf-8" />
    <title>Cubes • Preview</title>
    <link rel="canonical" href="https://cubes.trampoline.cx/" />
    <meta
      name="description"
      content="Delightfully simple building blocks for quick prototyping 🚀"
    />
    <meta property="og:title" content="Cubes • Playroom" />
    <meta
      property="og:description"
      content="Delightfully simple building blocks for quick prototyping 🚀"
    />
    <meta property="og:url" content="https://cubes.trampoline.cx/" />
    <link rel="canonical" href="https://cubes.trampoline.cx/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Cubes" />
  </head>
  <body>
    <div class="preview-body" id="root"></div>
    <!-- Fathom - beautiful, simple website analytics -->
    <script
      src="https://fish.trampoline.cx/script.js"
      site="HYEJSJZQ"
      included-domains="cubes.trampoline.cx"
      defer
    ></script>
    <!-- / Fathom -->
  </body>
</html>
